// color
$theme-color: #ffc01d;
$color1: #8e8e8e;

// font
$Fredoka: "Fredoka One", cursive;
$Fugaz: "Fugaz One", cursive;
$Pretendard: "Pretendard", "Noto Sans KR", -apple-system, BlinkMacSystemFont,
  system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
  "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  sans-serif;
