html {
  font-size: 62.5%;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 30px;
  font-family: "Fredoka One", cursive;
  text-transform: uppercase;
  position: fixed;
  top: 10px;
  left: 20px;
}

.cursor {
  width: 20px;
  height: 20px;
  position: fixed;
  border-radius: 50%;
  border: 1px solid #8e8e8e;
  box-shadow: inset 0px 0px 0.5em 0px #fff, 0px 0px 0.5em 0px #fff;
  z-index: 99999999;
}

nav ul li a span {
  font-family: "Fredoka One", cursive;
  font-size: 18px;
  padding-left: 20px;
  display: block;
  transform: translateY(-3px);
  text-transform: uppercase;
}

section .page {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 200px 1fr 10vw;
}
section .page .page-right {
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section .page .page-right .sub-title {
  font-family: "Fugaz One", cursive;
  text-transform: uppercase;
  font-size: 6vw;
  transform: rotate(90deg) translate(3vw, 0);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px;
  -webkit-text-decoration: underline 10px #fff;
          text-decoration: underline 10px #fff;
}
section .page .page-mid {
  grid-column: 2/3;
  align-self: center;
  justify-self: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 700px;
}
.title .main-title {
  font-family: "Fredoka One", cursive;
  text-transform: uppercase;
  font-size: 9.5vw;
}

.portfolio .page .page-mid {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}
.portfolio .page .page-mid .view {
  border: 2px solid #ddd;
  width: 50vw;
  height: 28.1vw;
  background: url(https://via.placeholder.com/960x540/497174/fff?text=click.png) no-repeat center/cover;
}
.portfolio .page .page-mid .view-link li {
  padding: 10px;
}
.portfolio .page .page-mid .view-link li a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  transition: 0.3s;
}
.portfolio .page .page-mid .view-link li a:hover {
  outline: 1px solid #ffc01d;
  box-shadow: inset 0px 0px 0.5em 0px #ffc01d, 0px 0px 0.5em 0px #ffc01d;
  transition: 0.2s;
}

.skills .page .page-mid {
  margin: 0 50px;
  display: grid;
  grid-template: 3fr 2fr/1fr 1fr;
  gap: 2vw;
}
.skills .page .page-mid .skill-card {
  text-transform: uppercase;
  border-radius: 20px;
  padding: 30px 50px;
  position: relative;
  line-height: 1.6;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.18);
  overflow: hidden;
}
.skills .page .page-mid .skill-card ::before {
  position: fixed;
  content: "";
  box-shadow: 0 0 100px 40px rgba(255, 255, 255, 0.062745098);
  top: -10%;
  left: -100%;
  transform: rotate(-45deg);
  height: 60rem;
  transition: 0.7s all;
}
.skills .page .page-mid .skill-card:hover {
  border: 1px solid rgba(255, 255, 255, 0.2666666667);
  box-shadow: 0 7px 50px 10px rgba(0, 0, 0, 0.6666666667);
}
.skills .page .page-mid .skill-card:hover ::before {
  filter: brightness(0.5);
  top: -100%;
  left: 200%;
}
.skills .page .page-mid .skill-card h4 {
  position: relative;
  z-index: 500;
  font-family: "Fugaz One", cursive;
  font-size: 3vw;
  text-align: right;
  color: #ffc01d;
  -webkit-text-stroke: 2px #000;
  padding-bottom: 10px;
}
.skills .page .page-mid .skill-card ul {
  list-style: disc;
}
.skills .page .page-mid .skill-card ul li {
  padding-bottom: 10px;
}

.contact {
  position: relative;
}
.contact .page .page-mid {
  position: relative;
}
.contact .page .page-mid .contact-bg {
  -webkit-animation: spin 4s linear infinite;
          animation: spin 4s linear infinite;
  min-width: 400px;
  min-height: 400px;
  width: 26vw;
  height: 26vw;
  box-shadow: inset 0 0 50px #fff, inset 20px 0 60px #8e8e8e, inset -20px 0 60px #ffc01d, inset 20px 0 300px #8e8e8e, inset -20px 0 300px #ffc01d, 0 0 50px #fff, -10px 0 60px #8e8e8e, 10px 0 60px #ffc01d;
  border-radius: 50%;
}
@-webkit-keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.contact .page .page-mid .contact-a {
  padding: 20px 30px;
  font-family: "Fugaz One", cursive;
  font-size: 3vw;
  color: #fff;
  -webkit-text-stroke: 1px #000;
  position: absolute;
  opacity: 0.4;
}
.contact .page .page-mid .a-git {
  color: #ffc01d;
  opacity: 1;
  top: 25%;
  left: -40%;
}
.contact .page .page-mid .a-mail {
  color: #fff;
  bottom: 20%;
  right: -50%;
}
.contact .top {
  position: absolute;
  right: 2vw;
  bottom: 1vw;
}
.contact .top span {
  cursor: pointer;
  font-size: 5vw;
}/*# sourceMappingURL=index.css.map */