body {
  background-color: #000;
  color: #fff;
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
h1 {
  font-size: 30px;
  font-family: "Fredoka One", cursive;
  text-transform: uppercase;
  position: fixed;
  top: 10px;
  left: 20px;
}

// cursor
.cursor {
  width: 20px;
  height: 20px;
  position: fixed;
  border-radius: 50%;
  border: 1px solid #8e8e8e;
  box-shadow: inset 0px 0px 0.5em 0px #fff, 0px 0px 0.5em 0px #fff;
  z-index: 99999999;
}

// nav
nav {
  ul {
    li {
      a {
        span {
          font-family: "Fredoka One", cursive;
          font-size: 18px;
          padding-left: 20px;
          display: block;
          transform: translateY(-3px);
          text-transform: uppercase;
        }
      }
    }
  }
}

section {
  .page {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 200px 1fr 10vw;
    .page-right {
      grid-column: 3/4;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .sub-title {
        font-family: "Fugaz One", cursive;
        text-transform: uppercase;
        font-size: 6vw;
        transform: rotate(90deg) translate(3vw, 0);
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 2px;
        text-decoration: underline 10px #fff;
      }
    }
    .page-mid {
      grid-column: 2/3;
      align-self: center;
      justify-self: center;
    }
  }
}

// page1
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  .main-title {
    font-family: "Fredoka One", cursive;
    text-transform: uppercase;
    font-size: 180px;
  }
}

// page2
.portfolio {
  .page {
    .page-mid {
      display: flex;
      align-items: flex-end;
      gap: 20px;
      .view {
        border: 2px solid #ddd;
        width: 50vw;
        height: 28.1vw;
      }
      .view-link {
        li {
          padding: 10px;
          a {
            display: block;
            padding: 10px;
            text-align: center;
            font-size: 20px;
            transition: 0.3s;
            &:hover {
              outline: 1px solid #ffc01d;
              box-shadow: inset 0px 0px 0.5em 0px #ffc01d,
                0px 0px 0.5em 0px #ffc01d;
              transition: 0.2s;
            }
          }
        }
      }
    }
  }
}

// page3
.skills {
  .page {
    .page-mid {
      margin: 0 50px;
      display: grid;
      grid-template: 3fr 2fr / 1fr 1fr;
      gap: 2vw;
      .skill-card {
        text-transform: uppercase;
        border-radius: 20px;
        padding: 30px 50px;
        position: relative;
        line-height: 1.6;
        z-index: 1;

        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
        border: 1px solid rgba(255, 255, 255, 0.18);

        overflow: hidden;
        ::before {
          position: fixed;
          content: "";
          box-shadow: 0 0 100px 40px #ffffff08;
          top: -10%;
          left: -100%;
          transform: rotate(-45deg);
          height: 60rem;
          transition: 0.7s all;
        }
        &:hover {
          border: 1px solid #ffffff44;
          box-shadow: 0 7px 50px 10px #000000aa;
          ::before {
            filter: brightness(0.5);
            top: -100%;
            left: 200%;
          }
        }

        h4 {
          position: relative;
          z-index: 500;
          font-family: "Fugaz One", cursive;
          font-size: 3vw;
          text-align: right;
          color: #ffc01d;
          -webkit-text-stroke: 2px #000;
          padding-bottom: 10px;
        }
        ul {
          list-style: disc;
          li {
            padding-bottom: 10px;
          }
        }
      }
    }
  }
}

// page4
.contact {
  position: relative;
  .page {
    .page-mid {
      position: relative;
      .contact-bg {
        @keyframes spin {
          100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
          }
        }
        $color1: #8e8e8e;
        $color2: #ffc01d;
        animation: spin 4s linear infinite;
        width: 26vw;
        height: 26vw;
        box-shadow: inset 0 0 50px #fff, inset 20px 0 60px $color1,
          inset -20px 0 60px $color2, inset 20px 0 300px $color1,
          inset -20px 0 300px $color2, 0 0 50px #fff, -10px 0 60px $color1,
          10px 0 60px $color2;
        border-radius: 50%;
      }
      .contact-a {
        padding: 20px 30px;
        font-family: "Fugaz One", cursive;
        font-size: 3vw;
        color: #fff;
        -webkit-text-stroke: 1px #000;
        position: absolute;
        opacity: 0.4;
      }
      .a-git {
        color: #ffc01d;
        opacity: 1;
        top: 25%;
        left: -40%;
      }
      .a-mail {
        color: #fff;
        bottom: 20%;
        right: -50%;
      }
    }
  }
  // go-up
  .top {
    position: absolute;
    right: 2vw;
    bottom: 1vw;
    span {
      cursor: pointer;
      font-size: 5vw;
    }
  }
}
